.container{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#ffff;
    
}

#langbtn {
   min-width: 35px;
    height: 40px;
    padding: 10px;
    background-color: #444;
    color:white;
    border-radius:10px;
}

    #langbtn:hover {
       background-color: #184698;
    }

option {
    background-color: #ffff;
    color: black;
   line-height:2.5em;
    font-size:14px;
    height:180%;
}

.dropdown-menu ul li{
    padding-top:4px;
}

.drp {
    display: block;
    color: #666;
    font-size: 16px;
    padding: 4px 4px;
    width: 80%;
}

.toogle i{
    position:relative;
    width:60px;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2.5rem;
    cursor:pointer;
}

    .use {
        position: relative;
        width: 55px;
        height: 55px;
    }

        .use img {
            position: absolute;
            top: 0;
            left: 0;
            height: 40%;
            width: 40%;
            object-fit: cover;
        }

    .topbar {
        position: fixed;
        background: #ffff;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
        width: 100%;
        height:100px;
        padding: 0 20px;
        display: grid;
        grid-template-columns: 2fr 9fr 1fr 1fr;
        align-items: center;
        z-index: 1;
    }
    /*sidebar*/
    .sidebar {
        position: fixed;
        top: 60px;
        width: 270px;
        height: calc(100% - 60px);
        background: #e0e0e0;
        overflow-x: hidden;
        transition:.5s;

    }
    .sidebar ul{
        margin-top:20px;
    }

    .sidebar ul li{
        width:80%;
        font-size:12px;
        list-style:none;
    }

        .sidebar ul li a {
            width: 100%;
            text-decoration: none;
            color: #707070;
            height: 45px;
            display: flex;
            align-items: center;
            transition: 0.3s;
            
        }
    .sidebar  li :hover {
        color:#184698;
    }
    .sidebar i{
        padding-right:6px;
    }

/*    menu icon */
.bar {
    width:300px;
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}




        .sidebar ul li a i{
            min-width:60px;
            font-size:15px;
            text-align:center;
        }



.dropdown-menu  a i {
    min-width: 10px;
    font-size: 14px;
    text-align: center;
}

.dropdown-menu a i {
 padding-left:4px;
}
.dropdown-menu li{
    list-style:none;
}
.dropdown-menu li :hover {
    color: #184698;
}

        /*main styling*/
        .main{
            position:absolute;
            top:60px;
            width: calc(100% - 100px);
            left: 300px;
            min-height: calc(100vh -60px);
            background:#f5f5f5;
        }
        .cards{
            width:100%;
            padding:70px 20px;
            display:grid;
            grid-template-columns:repeat(4,1fr);
            grid-gap:20px;
        }
        .cards .card{
            padding:10px;
            display:flex;
            flex-direction:row;
            align-items:self-start;
            justify-content:space-around;
            background:#ffff;
            border-radius:10px;
            height:150%;
            box-shadow:0 7px 25px 0 rgba(0, 0, 0, 0.08);
        }
        .numb{
            font-size:30px;
        }
        .card-name{
            font-size:50px;

        }
        .icon-box i{
            font-size:80px;
            
        }
        .charts{
            display:grid;
            grid-template-columns:2fr 1fr;
            grid-gap:30px;
            width: 100%;
            padding:30px;
            padding-top:0;
        }
        
        .chart{
            background:#fff;
            padding: 20px;
            border-radius:10px;
            box-shadow : 0 7px 25px rgba(0, 0, 0, 0.08);
            width:100%;
        }
        @media (max-width:1115px){
            .sidebar{width:60px;
            }
            .main{
                left:90px;
                width:calc(100% -60px);
            }
        }
.icon {
    border-left: 4px solid rgba(255, 255, 255, .3);
    content: "";
    display: inline-block;
    height: 5px;
    width: 5px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #aaa;
    font-size: 14px;
    margin-right: 12px;
}

.subcontainer {
    background-color: #444444;
    padding: 12px 22px;
    margin: 0;
    line-height: 23px;
    display: inline-block;
    border-radius: 5px;
}

.suhome {
    color: white;
    padding-right: 6px;
}

    .suhome a {
        color: white;
        text-decoration: none;
    }