body {
    background-color:#fff;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#langbtn {
    min-width: 35px;
    height: 40px;
    padding: 10px;
    background-color: #444;
    color: white;
    border-radius: 10px;
}

    #langbtn:hover {
        background-color: #184698;
    }

option {
    background-color: #ffff;
    color: black;
    line-height: 2.5em;
    font-size: 14px;
    height: 180%;
}

.dropdown-menu ul li {
    padding-top: 4px;
}

.drp {
    display: block;
    color: #666;
    font-size: 16px;
    padding: 4px 4px;
    width: 80%;
}

.toogle i {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.use {
    position: relative;
    width: 55px;
    height: 55px;
}

    .use img {
        position: absolute;
        top: 0;
        left: 0;
        height: 40%;
        width: 40%;
        object-fit: cover;
    }

.topbar {
    position: fixed;
    background: #ffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    width: 100%;
    height: 100px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr 9fr 1fr 1fr;
    align-items: center;
    z-index: 1;
}
.dropdown-menu a i {
    min-width: 10px;
    font-size: 14px;
    text-align: center;
}

.dropdown-menu a i {
    padding-left: 4px;
}

.dropdown-menu li {
    list-style: none;
}

    .dropdown-menu li :hover {
        color: #184698;
    }


/*    menu icon */
.bar {
    width: 300px;
    transition: margin-left .5s;
    padding: 16px;
}

/*sidebar*/
.sidebar {
    position: fixed;
    top: 85px;
    width: 250px;
    height: calc(100% - 85px);
    background: #fff;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px 1px rgb(0,0,0,0.4);
}

    .sidebar ul {
        margin-top: 20px;
        width: 100%;
    }

        .sidebar ul li {
            width: 100%;
            list-style: none;
            margin-left: -20px;
            margin-right: 0px;
            padding-top:18px;
        }

            .sidebar ul li a {
                margin-left: -20px;
                margin-right: 0px;
                width: 100%;
                text-decoration: none;
                color: grey;
                height: 40px;
                display: flex;
                align-items: center;
                font-size: 16px;
            }

                .sidebar ul li a i {
                    min-width: 60PX;
                    font-size: 15PX;
                    text-align: center;
                }

h11 {
    font-size: 12px;
}

.sidebar ul li a:hover {
  
    color: #184698
}

.icon {
    border-left: 4px solid rgba(255, 255, 255, .3);
    content: "";
    display: inline-block;
    height: 5px;
    width: 5px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #aaa;
    font-size: 14px;
    margin-right: 12px;
}

.subcontainer {
    background-color: #444444;
    padding: 12px 22px;
    margin: 0;
    line-height: 23px;
    display: inline-block;
    border-radius: 5px;
}

.suhome {
    color: white;
    padding-right: 6px;
}

    .suhome a {
        color: white;
        text-decoration: none;
    }

.cards {
    width: 100%;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

    .cards .card {
        height: 150px;
        padding: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 7px 25px 0 rgb(0,0,0,0.08);
    }

.icon-box1 i {
    font-size: 50px;
    position: static;
    background: #b81b7f12;
    padding: 10px;
}

.icon-box2 i {
    font-size: 50px;
    position: static;
    background-color: #36bd7812;
    padding: 10px;
}

.icon-box3 i {
    font-size: 50px;
    position: static;
    background-color: #efa80f12;
    padding: 10px;
}

.count {
    text-align: center;
    font-weight: 900;
}

.icon-box i {
    font-size: 80px;
}

.charts {
    width: calc(100%-250px);
    position: relative;
}

.chart {
    width: calc(100%-250px);
    position: relative;
}

.Everify {
    padding: 10px;
    height: 70px;
    background-color: #fdf9e7;
    align-content: center;
    padding-left: 80px;
    width: 100%;
}

.Everifybutton {
    background-color: #666;
    font-size: 16px;
    color: white;
    border-radius: 8px;
}
.sidedrop{
    border-style:none !important;
}

/*Medida Query*/
@media(max-width:990px){
    .sidebar{
        width:0px;
    }
    .cards{
        grid-template-columns:repeat(1,1fr);
        padding:0px;
       margin-right:10px;
    }
}