



.container-fluid {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f9f9f9;
    font-family: Nunito;
}

#langbtn {
    min-width: 35px;
    height: 50px;
    padding: 10px;
    background-color: #444;
    color: white;
    border-radius: 10px;
}

    #langbtn:hover {
        background-color: #184698;
    }

option {
    background-color: #ffff;
    color: black;
    line-height: 2.5em;
    font-size: 14px;
    height: 180%;
}

.dropdown-menu ul li {
    padding-top: 4px;
}

.drp {
    display: block;
    color: #666;
    font-size: 16px;
    padding: 4px 4px;
    width: 100%;
}

.toogle i {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.use {
    position: relative;
    width: 55px;
    height: 55px;
}

    .use img {
        position: absolute;
        top: 0;
        left: 0;
        height: 40%;
        width: 40%;
        object-fit: cover;
    }

.topbar {
    background: #ffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    width: 100%;
    height: 85px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr 9fr 1fr 1fr;
    align-items: center;
    z-index: 1;
}

.dropdown-menu a i {
    min-width: 10px;
    font-size: 15px;
    text-align: center;
}

.dropdown-menu li {
    list-style: none;
}

    .dropdown-menu li :hover {
        color: #184698;
    }

.Everify {
    padding: 10px;
    height: 70px;
    background-color: #fdf9e7;
    align-content: center;
    padding-left: 80px;
    position: page;
    width: 100%;
}

.Everifybutton {
    background-color: #666;
    font-size: 16px;
    color: white;
    border-radius: 8px;
}
/* Top Bar Ends*/


.icon {
    border-left: 4px solid rgba(255, 255, 255, .3);
    content: "";
    display: inline-block;
    height: 5px;
    width: 5px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #aaa;
    font-size: 14px;
    margin-right: 12px;
}

.subcontainer {
    background-color: #444444;
    padding: 12px 22px;
    margin: 0;
    line-height: 23px;
    display: inline-block;
    border-radius: 5px;
}

.suhome {
    color: white;
    padding-right: 6px;
}

    .suhome a {
        color: white;
        text-decoration: none;
    }


.avatar {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.account {
    margin-right: 20px;
    margin-top: 50px;
    margin-left: 20px;
   
}

.upload {
    padding-left: 30px;
}

.txtbox {
    width: 95%;
}

.accountbutton {
    background-color: #184698;
    color: #fff;
    height: 45px;
    width: 140px;
    border-radius: 8px;
    border: none;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.accounthead {
    font-size: 18px;
}

.accountbox {
    padding-top: 20px;
    padding-bottom: 20px;
}

.scrollable {
    overflow-y: auto;
}

.accountdropdown {
    width: 95%;
    height: 35px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 35px;
}
/*table
*/

table {
    width: 80%;
    height: 100px;
}